<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
   <ul class="title-area">
    <li class="name">
         <%= link_to "#{image_tag("logo copy.jpg", :class => "logo")}".html_safe, root_path, data: { no_turbolink: true }%>
    </li>

  </nav>


<dl class="sub-nav">
  <dd><%=link_to 'Contact', contact_path%></dd>
  <dd><%= link_to 'About', about_path%></dd>
  <dd class="active"><%= link_to 'Volunteer', new_volunteer_path%></dd>
  <dd class="hide-for-small-only"><%=link_to 'Success Stories',success_stories_path%></dd>
</dl>
</div>

<div class = "content-container">



<%= form_for :volunteer, url: volunteers_path do |f| %>
<fieldset>
  <legend>New Volunteer Form</legend>
   <div class ="row">
    <div class= "small-5 columns">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
    </div>
    <div class= "small-5 columns">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
    </div> 
  </div>

  <div class ="row">
    <div class = "small-5 columns">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

    <div class = "small-3 columns">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>

    <div class = "small-1 columns">
      <%= f.label :state %>
      <%= f.text_field :state %>
    </div>

    <div class = "small-3 columns">
      <%= f.label :postal_code %>
      <%= f.text_field :postal_code %>
    </div>
  </div>
  <div class ="row">
    <div class = "small-3 columns">
      <%= f.label :country %>
      <%= f.text_field :country %>
    </div>

    <div class = "small-3 columns">
      <%= f.label :telephone %>
      <%= f.text_field :telephone %>
    </div>

    <div class = "small-3 columns">
      <%= f.label :mobile %>
      <%= f.text_field :mobile %>
    </div>
  </div>

  <div class = "row">
    <div class = "small-5 columns">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <%=select_tag(:birthday_month, options_for_select([['Janurary','Janurary'],["February",'February'],['March',"March"],['April',"April"],['May',"May"]]))%>

  <p>
    <%= f.label :birthday %><br>
    <%= f.text_field :birthday %>
  </p>

  <p>
    <%= f.label :position_question %><br>
    <%= f.text_field :position_question %>
  </p>

  <p>
    <%= f.label :ec_name %><br>
    <%= f.text_area :ec_name %>
  </p>

  <p>
    <%= f.label :ec_telephone %><br>
    <%= f.text_area :ec_telephone %>
  </p>

  <table>
    <tr>
      <td>
        <%= check_box_tag(:mon_am) %>
        <%= label_tag(:mon_am, "Monday AM") %>
      </td>
      <td>
        <%= check_box_tag(:mon_pm) %>
        <%= label_tag(:mon_pm, "Monday PM") %>
      </td>
    </tr>
    <tr>
      <td>
        <%= check_box_tag(:tues_am) %>
        <%= label_tag(:tues_am, "Tuesday AM") %>
      </td>
      <td>
        <%= check_box_tag(:tues_pm) %>
        <%= label_tag(:tues_pm, "Tuesday PM") %>
      </td>
    </tr>
      <tr>
      <td>
        <%= check_box_tag(:wed_am) %>
        <%= label_tag(:wed_am, "Wednesday AM") %>
      </td>
      <td>
        <%= check_box_tag(:wed_pm) %>
        <%= label_tag(:wed_pm, "Wednesday PM") %>
      </td>
    </tr>
      <tr>
      <td>
        <%= check_box_tag(:thurs_am) %>
        <%= label_tag(:thurs_am, "Thursday AM") %>
      </td>
      <td>
        <%= check_box_tag(:thurs_pm) %>
        <%= label_tag(:thurs_pm, "Thursday PM") %>
      </td>
    </tr>
      <tr>
      <td>
        <%= check_box_tag(:fri_am) %>
        <%= label_tag(:fri_am, "Friday AM") %>
      </td>
      <td>
        <%= check_box_tag(:fri_pm) %>
        <%= label_tag(:fri_pm, "Friday PM") %>
      </td>
    </tr>

  </table>

  <p>
    <%= f.label :hours_available %><br>
    <%= f.text_area :hours_available %>
       <%= check_box_tag(:day_or_week_available) %>
        <%= label_tag(:day_or_week_available, "per week?") %>
  </p>

  <%= text_area_tag(:message, "Why are you interested?", size: "24x6") %>
  <br>
  <%= text_area_tag(:message, "What skills do you have?", size: "24x6") %>
  <br>
  <%= text_area_tag(:message, "Do you have any convictions? If so, please explain.", size: "24x6") %>
  <br>

  <p>
    <%= f.submit %>
  </p>
</fieldset>
<% end %>

</div>

<%= link_to 'Back', volunteers_path %>

