<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
   <ul class="title-area">
    <li class="name">
         <%= link_to "#{image_tag("logo copy.jpg", :class => "logo")}".html_safe, root_path, data: { no_turbolink: true }%>
    </li>

  </nav>
  <dl class="sub-nav">
  <dd><%=link_to 'Contact', contact_path%></dd>
  <dd><%= link_to 'About', about_path%></dd>

  <dd><%= link_to 'Volunteer', new_volunteer_path%></dd>
  <dd class="active"><%=link_to 'Success Stories',success_stories_path%></dd>
</dl>
</div>

<h1>Editing Success Story</h1>

<%= form_for @success_story do |f| %>
  <p>
    <%= f.label :photo_url %><br>
    <%= f.text_field :photo_url %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </p>

    <p>
    <%= f.label :date %><br>
    <%= f.text_area :date %>
  </p>

    <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>



<%end%>

<%= link_to 'Show', @success_story %> |
<%= link_to 'Back', success_stories_path, data: {no_turbolink: true} %>
