<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
   <ul class="title-area">
    <li class="name">
         <%= link_to "#{image_tag("logo copy.jpg", :class => "logo")}".html_safe, root_path, data: { no_turbolink: true }%>
    </li>

  </nav>


<dl class="sub-nav">
  <dd><%=link_to 'Contact', contact_path%></dd>
  <dd><%= link_to 'About', about_path%></dd>

  <dd><%= link_to 'Volunteer', new_volunteer_path%></dd>
  <dd class="active"><%=link_to 'Success Stories',success_stories_path%></dd>
</dl>
</div>

<p id="notice"><%= notice %></p>


    <% @success_stories.each do |success_story| %>
     <div class="row">
      <div class="small-3 columns">
          <div class = "frame-square">
            <div class = "crop">
              <img src=<%=success_story.photo_url%>>
            </div>
          </div>
      </div>
      <div class="small-9 columns"><br>
          <h4><%=success_story.title%></h4> <br>
          <%= truncate(success_story.description, :length => 300) %>
          <br><br>
           <%=link_to 'Read more..', success_story %>
      </div>
    </div>

    <div class = "divider-index"></div>


    <% end %>


<%= link_to 'New Success story', new_success_story_path %>
