<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
   <ul class="title-area">
    <li class="name">
         <%= link_to "#{image_tag("logo copy.jpg", :class => "logo")}".html_safe, root_path, data: { no_turbolink: true }%>
    </li>

  </nav>


<dl class="sub-nav">
  <dd><%=link_to 'Contact', contact_path, data: { no_turbolink: true }%></dd>
  <dd class="active"><%= link_to 'About', about_path, data: { no_turbolink: true }%></dd>
  <dd><%= link_to 'Volunteer', new_volunteer_path, data: { no_turbolink: true }%></dd>
  <dd class="hide-for-small-only"><%=link_to 'Success Stories',success_stories_path, data: { no_turbolink: true }%></dd>
</dl>
</div>





    <h1 class ="back-title">about us</h1>
    <div class= "about-container">
      Nataliya Foundation is the network of Nataliya Foundation on the European continent. The united strength of its 49 members, present in 46 European countries, makes of Nataliya Foundation one of the major social actors in Europe. The network brings forward the needs of the people experiencing poverty and the voice of its member organisations to the European Institutions, European Union Member States, public authorities, and private stakeholders.
      <br><br><br>
      <h4 class = "quote">Moved by the Gospel’s challenge, inspired by the witness of the prophets and by the practical knowledge of and the partnership with people and communities experiencing poverty, Nataliya Foundation is an authentic expression of the Catholic Church’s diakonia, that is, service . For Nataliya Foundation, our works of justice, peace and development are testimony of Christ’s love for humankind.</h4> <br>
      <h6 id="citation">-One Human Family, Zero Poverty - Nataliya Foundation Strategic Framework 2013-2020</h6>
      <br><br>
      Nataliya Foundation is also one of the seven regions of Nataliya Foundation International is, the biggest network of Catholic charities in the world devoted to reducing poverty and campaigning for social justice.
      <br><br>
      Nataliya Foundation is governed by the Regional Conference composed of representatives from each member organisation and the Executive Board. The work of the network is supported by the Secretariat in Brussels.
      <br><br>
      In Europe, Nataliya Foundation focuses its activities on issues relating to poverty, social exclusion,inequality, migration and asylum. On the global level, Nataliya Foundation is actively engaged inhumanitarian assistance and international development throughout the world. As a network, Nataliya Foundation also ensures the qualitative strengthening of the network by facilitating theexchange of knowledge, experience and expertise in order to enhance the efficiency andsustainability of each of its members. 
      <br><br>
      In order to accomplish its mission, Nataliya Foundation is permanently and actively in dialogue and eventual cooperation with European Institutions and many relevant organisations and stakeholders in the European environment. Nataliya Foundation is also ensuring a permanent monitoring of the Council of Europe.
      <br><br>
      To ensure a complete transparency of its activities towards the Institutions of the European Union, Nataliya Foundation is registered in the Inter-institutional Transparency Register of the European Union.
    </div>
    Nataliya Foundation is very active among the Brussels based Civil Society. The network holds a privileged partnership with the:
    <div class ='separation' id='blue'>
      Nataliya Foundation holds a privileged partnership with...
    </div>

    <div class = 'separation' id='white'>
      Nataliya Foundation is a member of... 
    </div>

    <div class = 'separation' id = 'gray'>
      Nataliya Foundation is part of the working structures of...

    </div>





  </fieldset>
</div>