


<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
   <ul class="title-area">
    <li class="name">
         <%= link_to "#{image_tag("logo copy.jpg", :class => "logo")}".html_safe, root_path, data: { no_turbolink: true }%>
    </li>

  </nav>


<dl class="sub-nav">
  <dd><%=link_to 'Contact', contact_path%></dd>
  <dd><%= link_to 'About', about_path%></dd>
  <dd><%= link_to 'Volunteer', new_volunteer_path%></dd>
  <dd class="hide-for-small-only"><%=link_to 'Success Stories',success_stories_path%></dd>
</dl>
</div>


<div class="row" id="orbit-row">
  <ul class="example-orbit" data-orbit>
    <li>
      <div class="slider-div">
        <%=image_tag "orbit1.jpg" %>
        <%=link_to 'Find out how you can help', new_volunteer_path, :class=>"button radius", :id =>"first"%>
        
      </div>
    </li>
    <li class="active">
      <div class="slider-div">
      <%=image_tag "orbit2.jpg" %>
       <%=link_to 'Read our Success Stories', success_stories_path, :class=>"button radius", :id =>"second"%>
      </div>
    </li>

    <li>
      <div class="slider-div">
         <%=image_tag "orbit3.jpeg" %>
          <%=link_to 'Learn about us', about_path, :class=>"button radius", :id =>"third"%>
      </div>
    </li>
  </ul>
</div>
<div class = "row">
  <h1 class="about-homepage">Nataliya Foundation is a
 network on the European continent. The united strength of its 49 members, present in 46 European countries, makes of Nataliya Foundation one of the major social actors in Europe. The network brings forward the needs of the people experiencing poverty and the voice of its member organisations to the European Institutions, European Union Member States, public authorities, and private stakeholders.</h1>
</div>


<div class = "divider"></div>

<%if @success_stories_sample.length == 3 %>
<div class="row" data-equalizer>

      <h1 class = "about-homepage"> Read our Success Stories... </h1>
      <div class="medium-6 large-4 columns" data-equalizer-watch>
        <article class="article-card">
          <%=image_tag @success_stories_sample[1].photo_url %>
          <div class="card-content">
            <p class="post-author"> <%=@success_stories_sample[1].date%></p>
            <h4><%=@success_stories_sample[1].title%></h4>
            <p><%= truncate(@success_stories_sample[1].description, :length => 100) %></p>
            <p>
              <%=link_to 'Read on..', @success_stories_sample[1]    %>
                   </p>
          </div>
        </article>
      </div>
      <div class="medium-6 large-4 columns" data-equalizer-watch>
          <article class="article-card">
          <%=image_tag @success_stories_sample[2].photo_url %>
          <div class="card-content">
            <p class="post-author"> <%=@success_stories_sample[2].date%></p>
            <h4><%=@success_stories_sample[2].title%></h4>
            <p><%= truncate(@success_stories_sample[2].description, :length => 100) %></p>
            <p>
              <%=link_to 'Read on..', @success_stories_sample[2]    %>
                   </p>
          </div>
        </article>
      </div>
      <div class="medium-6 large-4 end columns" data-equalizer-watch>
            <article class="article-card">
          <%=image_tag @success_stories_sample[0].photo_url %>
          <div class="card-content">
            <p class="post-author"> <%=@success_stories_sample[0].date%></p>
            <h4><%=@success_stories_sample[0].title%></h4>
            <p><%= truncate(@success_stories_sample[0].description, :length => 100) %></p>
            <p>
              <%=link_to 'Read on..', @success_stories_sample[0]    %>
                   </p>
          </div>
        </article>
      </div>
    </div>
  <%end%>


<div id="user_nav">
    <% if admin_signed_in? %>
        Signed in as <%= current_admin.email %>.

        <%= link_to "Sign out", destroy_admin_session_path, :method => :delete %>
    <% else %>
        <%= link_to 'Register', new_admin_registration_path %> or <%= link_to 'Sign in', new_admin_session_path %>
    <% end %>
</div>


