<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Nataliya Foundation" %></title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Muli|Oswald' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>


    <div id="footer">
      <div class ="row about-row">
        <div class = "large-3 columns">
          <strong>Navigate</strong><br>
          <%=link_to 'Read Our Success Stories',success_stories_path, class: "footer-link", data: { no_turbolink: true }%><br>

          <%= link_to 'About', about_path, class: "footer-link", data: { no_turbolink: true }%><br>
          <%=link_to 'Contact', contact_path, class: "footer-link", data: { no_turbolink: true }%>

        </div>
        <div class= "large-3 columns">
          <strong>How You Can Help</strong><br>
          <%= link_to 'Become a Volunteer', new_volunteer_path, class: "footer-link", data: { no_turbolink: true }%><br>
          <%= link_to 'Donate', new_volunteer_path, class: "footer-link", data: { no_turbolink: true }%><br>
        </div>
        <div class ="large-6 columns">
          <%=image_tag("white-logo.png")%>
        </div>
      </div>
    </div>

  </div>
  </body>
</html>
